<div class="container-fluid h-100" style="height: 100vh">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{galgo.nombre}}</h5>
          <p class="card-text">{{galgo.edad}}</p>
          <p class="card-text">{{galgo.color}}</p>
          <p class="card-text">{{nombreOrganizacion}}</p>
          <p class="card-text">{{galgo.descripcion}}</p>
          <a href="/galgos" class="btn btn-block btn-primary">volver</a>
          <a href="/galgos" class="btn btn-block btn-success">adoptar</a>

        </div>
      </div>
    </div>
  </div>
</div>